# Data preparation
The LA crime data was available by year (or year to date for the current year) in separate spreadsheets.
I performed the following manipulations: 
- filtered each dataset to remove categories/columns irrelevant for my studies
- separated out West hollywood data from the rest
- Wrote modified datasets into a new csv file, merging all years together
- Thus, created 2018-2022.csv where all West Hollywood data is stored and 2018-2022_la.csv where all LA data is stored.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df2021 = pd.read_csv('2021-PART_I_AND_II_CRIMES.csv')

In [4]:
df2021.head()

,LURN_SAK,INCIDENT_DATE,INCIDENT_REPORTED_DATE,CATEGORY,STAT,STAT_DESC,ADDRESS,STREET,CITY,ZIP,INCIDENT_ID,REPORTING_DISTRICT,SEQ,GANG_RELATED,UNIT_ID,UNIT_NAME,LONGITUDE,LATITUDE,PART_CATEGORY
0,19621802,06/11/2021 03:06:00 AM,06/12/2021,VANDALISM,263,VANDALISM FELONY,"3600 IMPERIAL HWY, LYNWOOD, CA",3600 IMPERIAL HWY,LYNWOOD,NaN,921-07849-2112,2112,7849,NO,CA01900V3,CENTURY,-118.201,33.931,2
1,19510392,02/12/2021 05:25:00 PM,02/12/2021,LIQUOR LAWS,198,LIQUOR LAWS: All Other Liquor Law Violations,"ROSEMEAD BLVD AND RUSH ST, SOUTH EL MONTE, CA ...",ROSEMEAD BLVD AND RUSH ST,SOUTH EL MONTE,91733.0,921-01800-0560,560,1800,NO,CA0190005,TEMPLE,-118.064,34.051,2
2,19602385,05/19/2021 03:30:00 PM,05/23/2021,GRAND THEFT AUTO,91,GRAND THEFT VEHICLE (GTA): Automobile/Passenge...,"3300 LYNOAK DR, CLAREMONT, CA 91711",3300 LYNOAK DR,CLAREMONT,91711.0,921-02607-0876,876,2607,NO,CA0190008,SAN DIMAS,-117.739,34.104,1
3,19631339,06/24/2021 01:00:00 AM,06/24/2021,GRAND THEFT AUTO,91,GRAND THEFT VEHICLE (GTA): Automobile/Passenge...,"22400 S ISLAND AVE, CARSON, CA",22400 S ISLAND AVE,CARSON,NaN,921-06082-1624,1624,6082,NO,CA0190016,CARSON,-118.266,33.822,1
4,19559742,04/03/2021 12:00:00 PM,04/08/2021,LARCENY THEFT,389,"THEFT, PETTY: Other (From Prvt Res, Boat, Plan...","1700 MANZANITA PARK AVE, MALIBU, CA",1700 MANZANITA PARK AVE,MALIBU,NaN,921-01913-1026,1026,1913,NO,CA0190022,MALIBU/LOST HILLS,-118.647,34.067,1

In [4]:
df2021['CATEGORY'].unique()

array(['VANDALISM', 'LIQUOR LAWS', 'GRAND THEFT AUTO', 'LARCENY THEFT',
       'MISDEMEANORS MISCELLANEOUS', 'OFFENSES AGAINST FAMILY',
       'NON-AGGRAVATED ASSAULTS', 'VEHICLE / BOATING LAWS', 'ROBBERY',
       'NARCOTICS', 'BURGLARY', 'WEAPON LAWS', 'DRUNK / ALCOHOL / DRUGS',
       'FELONIES MISCELLANEOUS', 'FORGERY', 'FRAUD AND NSF CHECKS',
       'AGGRAVATED ASSAULT', 'SEX OFFENSES MISDEMEANORS',
       'RECEIVING STOLEN PROPERTY', 'SEX OFFENSES FELONIES',
       'DRUNK DRIVING VEHICLE / BOAT', 'FORCIBLE RAPE',
       'DISORDERLY CONDUCT', 'WARRANTS', 'ARSON', 'VAGRANCY',
       'CRIMINAL HOMICIDE', 'GAMBLING', 'FEDERAL OFFENSES WITH MONEY',
       'FEDERAL OFFENSES W/O MONEY'], dtype=object)

In [5]:
# Here are the filtration parameters
excluded_categories = ['LIQUOR LAWS', 'VEHICLE / BOATING LAWS', 'FRAUD AND NSF CHECKS', 'RECEIVING STOLEN PROPERTY',
                      'WARRANTS', 'GAMBLING', 'DRUNK DRIVING VEHICLE / BOAT']

included_columns = ['LURN_SAK', 'INCIDENT_DATE', 'CATEGORY', 'STAT', 'ADDRESS', 'LONGITUDE', 'LATITUDE', 'PART_CATEGORY', 'CITY', 'ZIP', 'UNIT_NAME' ]
boundaries = [[-118.4002, -118.3428], [34.0751, 34.1058]] #for approximate West Hollywood geolocation

In [6]:
df2021 = df2021.query('CATEGORY not in @excluded_categories')
df2021 = df2021[included_columns]

In [15]:
df2021.head()

,LURN_SAK,INCIDENT_DATE,CATEGORY,STAT,ADDRESS,LONGITUDE,LATITUDE,PART_CATEGORY,CITY,ZIP,UNIT_NAME
0,19621802,06/11/2021 03:06:00 AM,VANDALISM,263,"3600 IMPERIAL HWY, LYNWOOD, CA",-118.201,33.931,2,LYNWOOD,NaN,CENTURY
2,19602385,05/19/2021 03:30:00 PM,GRAND THEFT AUTO,91,"3300 LYNOAK DR, CLAREMONT, CA 91711",-117.739,34.104,1,CLAREMONT,91711.0,SAN DIMAS
3,19631339,06/24/2021 01:00:00 AM,GRAND THEFT AUTO,91,"22400 S ISLAND AVE, CARSON, CA",-118.266,33.822,1,CARSON,NaN,CARSON
4,19559742,04/03/2021 12:00:00 PM,LARCENY THEFT,389,"1700 MANZANITA PARK AVE, MALIBU, CA",-118.647,34.067,1,MALIBU,NaN,MALIBU/LOST HILLS
5,19668891,08/03/2021 05:28:00 AM,LARCENY THEFT,89,"37500 OAKHILL ST, PALMDALE, CA 93552",-118.048,34.565,1,PALMDALE,93552.0,PALMDALE

In [21]:
boundaries[0][0]<-119.35<boundaries[0][1]

False

In [7]:
#data filter
df2021 = df2021.query('CATEGORY not in @excluded_categories')
df2021 = df2021[included_columns]
df2021_filtered = df2021.query('@boundaries[0][0] < LONGITUDE < @boundaries[0][1]')
df2021_filtered = df2021_filtered.query('@boundaries[1][0] < LATITUDE < @boundaries[1][1]')

In [40]:
df2021_filtered['CATEGORY'].value_counts()

LARCENY THEFT                   942
NON-AGGRAVATED ASSAULTS         346
BURGLARY                        306
VANDALISM                       284
GRAND THEFT AUTO                162
AGGRAVATED ASSAULT              134
MISDEMEANORS MISCELLANEOUS      132
NARCOTICS                       124
ROBBERY                         112
DRUNK DRIVING VEHICLE / BOAT     79
DRUNK / ALCOHOL / DRUGS          61
WEAPON LAWS                      49
FELONIES MISCELLANEOUS           49
FORGERY                          34
SEX OFFENSES MISDEMEANORS        28
DISORDERLY CONDUCT               21
ARSON                            14
FORCIBLE RAPE                     4
SEX OFFENSES FELONIES             4
FEDERAL OFFENSES WITH MONEY       3
OFFENSES AGAINST FAMILY           3
CRIMINAL HOMICIDE                 1
Name: CATEGORY, dtype: int64

In [41]:
df2021_filtered.to_csv('filtered_df.csv')

In [8]:
df2020 = pd.read_csv('2020-PART_I_AND_II_CRIMES.csv')

In [34]:
df2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152556 entries, 0 to 152555
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   LURN_SAK                152556 non-null  int64
 1   INCIDENT_DATE           152556 non-null  object
 2   INCIDENT_REPORTED_DATE  152556 non-null  object
 3   CATEGORY                152556 non-null  object
 4   STAT                    152556 non-null  int64
 5   STAT_DESC               152556 non-null  object
 6   ADDRESS                 150833 non-null  object
 7   STREET                  149870 non-null  object
 8   CITY                    150833 non-null  object
 9   ZIP                     84838 non-null   float64
 10  INCIDENT_ID             152556 non-null  object
 11  REPORTING_DISTRICT      152556 non-null  int64
 12  SEQ                     152556 non-null  int64
 13  GANG_RELATED            152556 non-null  object
 14  UNIT_ID                 152556 non-null  object
 15  UNIT_NAME               152556 non-null  object
 16  LONGITUDE               144031 non-null  float64
 17  LATITUDE                144031 non-null  float64
 18  PART_CATEGORY           152556 non-null  int64
dtypes: float64(3), int64(5), object(11)
memory usage: 22.1+ MB

In [35]:
df2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119104 entries, 0 to 141798
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   LURN_SAK                119104 non-null  int64
 1   INCIDENT_DATE           119104 non-null  object
 2   INCIDENT_REPORTED_DATE  119104 non-null  object
 3   CATEGORY                119104 non-null  object
 4   STAT                    119104 non-null  int64
 5   STAT_DESC               119104 non-null  object
 6   ADDRESS                 116672 non-null  object
 7   STREET                  116107 non-null  object
 8   CITY                    116672 non-null  object
 9   ZIP                     65317 non-null   float64
 10  INCIDENT_ID             119104 non-null  object
 11  REPORTING_DISTRICT      119104 non-null  int64
 12  SEQ                     119104 non-null  int64
 13  GANG_RELATED            119104 non-null  object
 14  UNIT_ID                 119104 non-null  object
 15  UNIT_NAME               119104 non-null  object
 16  LONGITUDE               112063 non-null  float64
 17  LATITUDE                112063 non-null  float64
 18  PART_CATEGORY           119104 non-null  int64
dtypes: float64(3), int64(5), object(11)
memory usage: 18.2+ MB

In [16]:
df2020 = df2020.query('CATEGORY not in @excluded_categories')
df2020 = df2020[included_columns]
df2020_filtered = df2020.query('@boundaries[0][0] < LONGITUDE < @boundaries[0][1]')
df2020_filtered = df2020_filtered.query('@boundaries[1][0] < LATITUDE < @boundaries[1][1]')

In [17]:
df2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124774 entries, 0 to 152555
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   LURN_SAK       124774 non-null  int64
 1   INCIDENT_DATE  124774 non-null  object
 2   CATEGORY       124774 non-null  object
 3   STAT           124774 non-null  int64
 4   ADDRESS        123382 non-null  object
 5   LONGITUDE      118166 non-null  float64
 6   LATITUDE       118166 non-null  float64
 7   PART_CATEGORY  124774 non-null  int64
 8   CITY           123382 non-null  object
 9   ZIP            72750 non-null   float64
 10  UNIT_NAME      124774 non-null  object
dtypes: float64(3), int64(3), object(5)
memory usage: 11.4+ MB

In [46]:
df2020_filtered.to_csv('filtered_df.csv', mode='a', header=False)

In [10]:
df2022 = pd.read_csv('PART_I_AND_II_CRIMES-YTD.csv')

In [18]:
df2022 = df2022.query('CATEGORY not in @excluded_categories')
df2022 = df2022[included_columns]
df2022_filtered = df2022.query('@boundaries[0][0] < LONGITUDE < @boundaries[0][1]')
df2022_filtered = df2022_filtered.query('@boundaries[1][0] < LATITUDE < @boundaries[1][1]')

In [49]:
df2022_filtered.to_csv('filtered_df.csv', mode='a', header=False)

In [12]:
df2019 = pd.read_csv('2019-PART_I_AND_II_CRIMES.csv')
df2018 = pd.read_csv('2018-PART_I_AND_II_CRIMES.csv')

In [19]:
df2019 = df2019.query('CATEGORY not in @excluded_categories')
df2019 = df2019[included_columns]
df2019_filtered = df2019.query('@boundaries[0][0] < LONGITUDE < @boundaries[0][1]')
df2019_filtered = df2019_filtered.query('@boundaries[1][0] < LATITUDE < @boundaries[1][1]')

In [20]:
df2018 = df2018.query('CATEGORY not in @excluded_categories')
df2018 = df2018[included_columns]
df2018_filtered = df2018.query('@boundaries[0][0] < LONGITUDE < @boundaries[0][1]')
df2018_filtered = df2018_filtered.query('@boundaries[1][0] < LATITUDE < @boundaries[1][1]')

In [21]:
df2018.to_csv('2018-2022.csv')
df2019.to_csv('2018-2022.csv', mode='a', header=False)
df2020.to_csv('2018-2022.csv', mode='a', header=False)
df2021.to_csv('2018-2022.csv', mode='a', header=False)
df2022.to_csv('2018-2022.csv', mode='a', header=False)

In [22]:
df2022r = pd.read_csv('PART_I_AND_II_CRIMES.csv')
df2022r = df2022r.query('CATEGORY not in @excluded_categories')
df2022r = df2022r[included_columns]
df2022r_filtered = df2022r.query('@boundaries[0][0] < LONGITUDE < @boundaries[0][1]')
df2022r_filtered = df2022r_filtered.query('@boundaries[1][0] < LATITUDE < @boundaries[1][1]')

In [23]:
df2022r.to_csv('2018-2022.csv', mode='a', header=False)